<div class="container">
  <h1>Ajout des fichiers</h1>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> position-absolute top-0 start-50 translate-middle-x"><%= value %></div>
  <% end %>

  <%= render "form", file: @file_item %>

  <% @file_items.each do |file| %>
    <div class="list-group mt-2">
      <div class="d-flex justify-content-between align-items-center">
        <%= form_with(url: reservations_path, method: :post, local: true) do |form| %>
          <%= form.hidden_field :file_id, value: file.id %>
          <%= form.hidden_field :file_key, value: file.csv_file.key %>
          <%= form.submit file.csv_file.filename, class: "list-group-item list-group-item-action" %>
        <% end %>
        <%= link_to "x", file_item_path(file),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "text-danger"
        %>
      </div>
    </div>
<% end %>
</div>
