<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h1 class="mb-4">Analyse du fichier <%= @filename %></h1>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12 text-center">
      <a href="<%= reservations_path %>" class="btn btn-secondary text-white">Retour</a>
    </div>
  </div>



 <div class="row mt-5">
  <div class="col-md-6">
    <%= form_tag(analyse_reservations_path, method: :get, remote: true, class: "form-inline", data: { controller: "filter", action: "submit->filter#submitForm"}) do %>
      <div class="form-group mr-2">
        <%= label_tag "spectacle", "Spectacle:" %>
        <%= select_tag :spectacle, options_for_select(Reservation.where(file_item_id: @new_file.id).distinct.pluck(:spectacle).compact.uniq, params[:spectacle]), include_blank: true, name: "spectacle", class: "form-control" %>
      </div>
      <%= submit_tag "Filtrer", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
</div>





  <div class="row mt-5">
    <div class="col-md-12">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td><strong>Nombre de réservations:</strong></td>
            <td><%= @nombre_de_resa %></td>
          </tr>
          <tr>
            <td><strong>Nombre d'acheteurs uniques:</strong></td>
            <td><%= @acheteurs_unique %></td>
          </tr>
          <tr>
            <td><strong>Âge moyen:</strong></td>
              <% if @age_moyen == 0 %>
                <td>N/A</td>
              <% else %>
                <td><%= @age_moyen %></td>
              <% end %>
          </tr>
          <tr>
            <td><strong>Prix moyen:</strong></td>
            <td><%= @prix_moyen %> €</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
